[Unit]
Description={{ app_name }} {{ item }}
After=syslog.target network.target

[Service]
User={{ app_user }}

SyslogIdentifier={{ app_name }}-{{ item }}
Restart=always
RestartSec=1

TimeoutStartSec=0

Environment=RBENV_ROOT={{ rbenv_root }}
Environment=RBENV_VERSION={{ruby_version}}

EnvironmentFile=-{{ deploy_path }}/{{ app_name }}/shared/config.env
EnvironmentFile=-{{ deploy_path }}/{{ app_name }}/current/VERSION

ExecStart={{ deploy_path }}/{{ app_name }}/current/bin/{{ item }}

[Install]
WantedBy=multi-user.target



